- form_for([:members, @household], :html => { :multipart => true }) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name, :value => current_user.last_name
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = f.submit "Save changes"
