- form_for([:members, @household], :html => { :multipart => true }) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name, :value => current_user.last_name
  -if !@edit
    %p
      Number of kids in you household
      %br
      
      %select{:name => 'child_count'}
        -for i in 1..15
          %option{:value => "#{i}"} #{i}
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = fields_for "household[address_attributes][]", :address do |a_f|
      %p
        =a_f.label :street1
        %br
        =a_f.text_field :street1
      %p
        =a_f.label :street2
        %br
        =a_f.text_field :street2
      %p
        =a_f.label :city
        %br
        =a_f.text_field :city
      %p
        =a_f.label :state
        %br
        =a_f.select :state, options_for_select( [[ "Select a State", "" ]] + State::NAMES )
      %p
        =a_f.label :zip
        %br
        =a_f.text_field :zip
  %p
    = f.submit "Create household"
