- title "Households"

%table
  %tr
    %th Name
    %th Credits
  - for household in @households
    %tr
      %td= h household.name
      %td= h household.credits
      %td= link_to 'Show', household
      %td= link_to 'Edit', edit_household_path(household)
      %td= link_to 'Destroy', household, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Household", new_household_path
