- title "Household"
#left-column
  #photo
    =image_tag @household.photo.url
  #info
    %div.title Caregivers
    %div
      -for user in @household.users
        -unless @household.users.eql? nil
          .child
            =h link_to "#{user.first_name} #{user.last_name}", edit_members_user_path(user)
        -else
          You have no caregivers
      %p
    %div.title Children
    %div
      -for child in @household.children
        -unless @household.children.eql? nil
          .child
            =h link_to "#{child.first_name} #{child.last_name}", edit_members_child_path(child)
        -else
          You have no children.
      %p= link_to "Add Child", new_members_child_path
    %div.title Address
    %div
      Address
      %p
    %div.title Phone
    Phone

#right-column
  #top
    #household-info
      %h1= "The #{@household} Household"
      %br
      = "Credit Balance: #{@household.credits}"
    #buttons
      = link_to 'Edit my Household', edit_members_household_path(@household)
      = link_to '+ Create a New Request', new_members_request_path
      = link_to '+ Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => @household.id}, :method => :post
  #content
    - if @household.requests.length > 0
      %font.small-title My Open Requests
    - if @household.requests.length == 0
      #no-requests 
        You have no open requests.
    - else
      #requests
        - for request in @household.requests
          .request
            %img
            -#%h2=h request.household.name
            %h2="The #{request.household} Household"
            .date
              =h request.start_time.to_s(:nicetime)
              to
              =h request.end_time.to_s(:nicetime)
              on
              =h request.from_date.to_s(:short)
            .cost
              Cost:
              =h request.cost
              credits
            .tools
              %span= link_to "Show", members_request_path(request)
              %span= link_to "Edit", edit_members_request_path(request)
              %span= link_to "Destroy", members_request_path(request), :confirm => 'Are you sure?', :method => :delete
            .clear .

