- content_for :title do
  View household: #{@household.name}
#left-column
  #photo
    =image_tag @household.photo.url(:medium)
  #info
    %div.title Caregivers
    %div
      -for user in @household.users
        -unless @household.users.eql? nil
          .child
            =h "#{user.first_name} #{user.last_name}"
        -else
          You have no caregivers
      %p
    %div.title Children
    %div
      -for child in @household.children
        -unless @household.children.eql? nil
          .child
            ="#{child.first_name} #{child.last_name}"
        -else
          You have no children.
      %p
    -@address = @household.address
    -address_link = "http://maps.google.com?q=#{@address.street1}+#{@address.street2}+#{@address.city}+#{@address.state}+#{@address.zip}"
    %div.title 
      Address
      %span#small_link= link_to "(Map)", address_link
    %div
      -#"#{@household.address}"
      -#- unless @household.address.nil?
      -#  %a{:href => address_link, :title => "View in Google Maps", :class => "extern_link", :target => "blank"}
      = @address.street1
      = @address.street2
      %br
      = "#{@address.city}, "
      = @address.state
      = @address.zip
      -#- else
      -#  There is no address
      %p
    %div.title Phone
    %div
      -for phone_number in @household.users
        -unless @household.users.eql? nil
          .child
            =h "#{number_to_phone(phone_number.phone)}"
        -else
          No phone number.

#right-column
  #top
    #household-info
      %h1= "The #{@household} Household"
      %br
  #content
    - if @household.requests.length > 0
      %font.small-title The #{@household.name}'s Open Requests
    - if @household.requests.length == 0
      #no-requests 
        The #{@household.name} household has no open requests.
    - else
      #requests
        - for request in @household.requests
          .request
            %img
            .left
              %h2#name=link_to "#{request.household}", members_request_path(request)
              %h2#household Household
            .right
              .date
                =h request.start_time.to_s(:nicetime)
                to
                =h request.end_time.to_s(:nicetime)
                on
                =h request.from_date.to_s(:short)
                -if request.from_date != request.to_date
                  to
                  =h request.to_date.to_s(:short)
              .cost
                Cost:
                =h request.cost
                credits
              .children
                Children:
                -@count = 0
                -for child in request.children
                  =h "#{child}"
                  -@count +=1
                  -if @count != request.children.length
                    ,
            .tools
              - if PendingRequest.find(:all, :conditions => {:request_id => request.id, :caregiver_requestor_id => current_user.household.id}).count > 0
                .volunteer-button= link_to "Volunteered", members_request_path(request)
              - else  
                .volunteer-button= link_to "Volunteer", {:controller => "pending_requests", :action => "create", :request_id => request.id, :belongs_to_household_id => request.household.id}, :method => :post
            .clear

