- title "Children"

%table
  %tr
    %th First name
    %th Last name
    %th Date of birth
    %th Dietary restrictions
    %th Allergies
    %th Medications
    %th Notes
  - for child in @children
    %tr
      %td= h child.first_name
      %td= h child.last_name
      %td= h child.date_of_birth
      %td= h child.dietary_restrictions
      %td= h child.allergies
      %td= h child.medications
      %td= h child.notes
      %td= link_to 'Show', members_child_path(child)
      %td= link_to 'Edit', edit_members_child_path(child)
      %td= link_to 'Destroy', members_child_path(child), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Child", new_members_child_path
