- content_for :title do
  Villages: Sign Up

#profile_notice
  %h3 Step 1 of 5
  Thanks for signing up!  First we'll have you create a caregiver profile, with which you can manage your household.  You'll have the option to create a household or join one in the next step.
.new-forms
  - form_for @user, :html => { :id => "signup-process-form" } do |f| 
    %h2 Sign Up
    #log-in= link_to 'Log in', login_path, :class => 'big button'
    %p Use this form to sign-up for Villages.
    = f.error_messages
    = f.label :username
    = f.text_field :username, :autofocus => true
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :cell_phone_number, "Cell (or primary) phone number"
    = f.text_field :phone
    = f.label :work_phone_number
    = f.text_field :work_phone
    = f.label :email_address
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation
    = f.label "&nbsp;"
    = f.submit "Continue"
    %p{:style => "text-align: center"} By clicking 'Continue' you are agreeing to our #{link_to "Terms of Service", tos_path}.
    .clear
