- form_for @request do |f|
  = f.error_messages
  %p
    = f.label :date
    %br/
    = f.date_select :date
  %p
    = f.label :start_time
    %br/
    = f.time_select :start_time
  %p
    = f.label :end_time
    %br/
    = f.time_select :end_time
  %p
    = f.label :cost
    %br/
    = f.text_field :cost
  %p= f.submit

