- form_for [:members, @address], :html => { :id => 'signup-process-form'} do |f|
  = yield :header
  = f.error_messages
  %p
    = f.label :street1, "Street 1"
    = f.text_field :street1, :autofocus => true
  %p
    = f.label :street2, "Street 2 (optional)"
    = f.text_field :street2
  %p
    = f.label :city
    = f.text_field :city
  %p
    = f.label :state
    = f.select :state, options_for_select([[ "Select a state", "" ]] + State::NAMES)
  %p
    = f.label :zip
    = f.text_field :zip
  %p
    = f.label "&nbsp;"
    = f.submit "Continue", :disable_with => "Please wait..."
