.request
  = image_tag request.household.photo.url(:thumb)
  .left
    %h2.name= request.household
    %h2.household Household
  .right
    .title
      =h request.title
    .date
      =h request.from_date.to_s(:short)
      at
      =h request.start_time.to_s(:nicetime)
      to
      - if !request.same_date
        =h request.to_date.to_s(:short)
        at
      =h request.end_time.to_s(:nicetime)
    .cost
      Credits:
      %font=h request.cost.to_i
    .children
      Children:
      -@count = 0
      - for child in request.children
        -@count += 1
        -if @count != request.children.length
          =h "#{child.first_name},"
        -else
          =h "#{child.first_name}"
    .notes
      - if !request.notes.eql? ""
        Additional notes:
        =h request.notes
  .tools
    - case request_type
    - when 'normal'
      .delete 
        %span= link_to 'X', "#"
      .subnav
        %ul
          %li= link_to 'Hide this request', {:controller => "requests", :action => "hide_request", :request_id => request.id, :belongs_to => request.household.id}, :method => :post
          %li= link_to "Hide all by #{request.household}", {:controller => "requests", :action => "hide_all_by_household", :household_hidden_id => request.household.id}, :method => :post
      .volunteer-button= link_to "Volunteer", {:controller => "pending_requests", :action => "create", :request_id => request.id, :belongs_to_household_id => request.household.id}, :method => :post, :class => 'pill button'
    - when 'past'
      .volunteer-button Did you provide care for this request?
      %br
      .volunteer-button{:style => "padding: 2px"}= link_to "No", {:controller => "requests", :action => "complete_request", :request_id => request.id, :completed => false}, :method => :post
      .volunteer-button{:style => "padding: 2px"}= link_to "Yes", {:controller => "requests", :action => "complete_request", :request_id => request.id, :completed => true}, :method => :post
  .clear