- content_for :title do
  Request details

.request
  %img= image_tag @request.household.photo.url(:thumb)
  .left
    .household_info
      %h2.name=link_to "#{@request.household}", members_household_path(@request.household)
      %h2.household Household
  .right
    .title
      =h "#{@request.title} (#{@request.cost.to_i} credits)"
    .date
      =h @request.start_time.to_s(:nicetime)
      to
      =h @request.end_time.to_s(:nicetime)
      on
      =h @request.from_date.to_s(:short)
      -if @request.from_date != @request.to_date
        =h @request.to_date.to_s(:short)
    %h3 Children:
    .children{:style => "margin: 0 0 0 20px"}
      - for child in @children
        %h3= "#{child.first_name} #{child.last_name}"
        .child
          %h3 Date of Birth:
          .value=h child.date_of_birth
          .clear
          -unless child.dietary_restrictions.eql? ""
            %h3 Dietary Restrictions:
            .value=h child.dietary_restrictions
          .clear
          -unless child.allergies.eql? ""
            %h3 Allergies:
            .value=h child.allergies
          .clear
          -unless child.medications.eql? ""
            %h3 Medications:
            .value=h child.medications
          .clear
          -unless child.notes.eql? ""
            %h3 Other Notes:
            .value=h child.notes
          .clear
  .tools
    -#%span= link_to "Back to Requests", members_requests_path
    -#%span= link_to "Back to Household", members_profile_path
  .clear
