- content_for :title do
  Requests

#titles
  #stream-title Request Feed
  #buttons
    #create-new= link_to "<span class='plus icon'></span>Create New Care Request", new_members_request_path, :class => 'pill button'
    .float
      ="Sort By:  "
      = link_to " Household", :sort => "name", :house_sort => "#{@house_direction}"
      |
      = link_to "Date", :sort => "from_date", :date_sort => "#{@date_direction}"
  .clear
.clear

- @num_requests = 0
#left-request
  #request-container
    - for completed_request in @completed_requests
      = render :partial => 'requests', :locals => { :request => completed_request, :request_type => 'past'}
    - for request in @requests
      -unless request.household == current_user.household || pending(request) || commit(request) || hidden_request(request) || !check_neighbor(request) || already_committed(request)
        - @num_requests += 1
        = render :partial => 'requests', :locals => { :request => request, :request_type => 'normal' }

    - if @num_requests == 0
      #no-requests Your neighbors do not have any requests at this time.

#right-commit
  #your-requests
    %p
      -# FIXME
      %span#notifications= link_to "You have #{@num_requests} care requests volunteers", members_my_volunteers_path
    %p
      -# FIXME
      %span#notifications= link_to "You have #{pluralize(@num_neighbor_requests, 'neighbor request')}", members_neighbors_path

  #commit-container
    #commitments
      = render :partial => 'request_small', :locals => { :num_requests => @completed_requests, :requests => @confirmed_requests, :request_type => 'confirmed', :header => 'My Commitments' }
    #pending
      = render :partial => 'request_small', :locals => { :num_requests => @pending_requests, :requests => @pending_requests, :request_type => 'pending', :header => 'My Pending Commitments'}

