- content_for :title do
  Requests

- @num_requests = 0
#top
  #button
    %p= link_to "+ Create a New Care Request", new_members_request_path
  #your-requests
    %p= link_to "You have #{pluralize(@num_volunteer_requests, 'volunteer')} to watch your kids", members_my_volunteers_path
    %p= link_to "You have #{pluralize(@num_neighbor_requests, 'neighbor request')}", members_neighbors_path

#request-container
  - for request in @requests
    -unless request.household == current_user.household || pending(request) || commit(request) || hidden_request(request) || !check_neighbor(request)
      - @num_requests += 1
      .request
        = image_tag request.household.photo.url(:thumb)
        .left
          %h2.name= request.household
          -#%h2.name=link_to "#{request.household}", members_request_path(request)
          %h2.household Household
        .right
          .title
            =h request.title
          .date
            =h request.from_date.to_s(:short)
            at
            =h request.start_time.to_s(:nicetime)
            to
            - if !request.same_date
              =h request.to_date.to_s(:short)
              at
            =h request.end_time.to_s(:nicetime)
          .cost
            Credits:
            %font=h request.cost.to_i
          .children
            Children:
            =h request.children
        .tools
          .delete 
            %span= link_to 'x', "#"
          .subnav
            %ul
              %li= link_to 'Hide this request', {:controller => "requests", :action => "hide_request", :request_id => request.id, :belongs_to => request.household.id}, :method => :post
              %li= link_to "Hide all by #{request.household}", {:controller => "requests", :action => "hide_all_by_household", :household_hidden_id => request.household.id}, :method => :post
          .volunteer-button= link_to "Volunteer", {:controller => "pending_requests", :action => "create", :request_id => request.id, :belongs_to_household_id => request.household.id}, :method => :post
        .clear

  - if @num_requests == 0
    - if @num_neighbors == 0
      #no-requests You have no neighbors. Add neighbors to see their requests.
    - else
      #no-requests Your neighbors do not have any requests at this time.

#commit-container
  #commitments
    %h2 My Commitments
    - if @confirmed_requests.count == 0
      #no-commitment
        You have no commitments
    - for confirmed_request in @confirmed_requests
      .confirmed-request
        .delete-link
          = link_to 'x', members_pending_request_path(confirmed_request), :confirm => 'Are you sure you want to remove this confirmed request?', :method => :delete
          
        ="Confirmed to watch the #{confirmed_request.request.household}'s kids"
        %br
        =h confirmed_request.request.from_date.to_s(:short)
        - if !confirmed_request.request.same_date
          \-
          =h confirmed_request.request.to_date.to_s(:short)
        .link
          = link_to 'View More Details', detail_members_request_path(confirmed_request.request)
  #pending
    %h2 My Pending Commitments
    -if @pending_requests.count == 0
      #no-pending
        You have no pending requests
    - for pending_request in @pending_requests
      .pending-request
        .delete-link
          = link_to 'x', members_pending_request_path(pending_request), :confirm => 'Are you sure you want to remove this pending request?', :method => :delete
        = "Request to watch the #{pending_request.request.household}'s kids"
        %br
        =h pending_request.request.from_date.to_s(:short)
        - if !pending_request.request.same_date
          \-
          =h pending_request.request.to_date.to_s(:short)
        
        .link
          = link_to 'View More Details', members_request_path(pending_request.request)

