- title "Request"
%p
  %strong Date:
  = h @request.date
%p
  %strong Start Time:
  = h @request.start_time
%p
  %strong End Time:
  = h @request.end_time
%p
  %strong Cost:
  = h @request.cost
%p
  = link_to "Edit", edit_members_request_path(@request)
  |
  = link_to "Destroy", members_request_path(@request), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_requests_path
