- content_for :title do
  View request: #{@request.title}

#request-show-title
  %font Request Details 
  #buttons
    %span#left-button= link_to "<span class='magnifier icon'></span>View All Requests", members_requests_path, :class => "left pill button"
    = link_to "<span class='home icon'></span>My Household", members_profile_path, :class => "right pill button"
  .clear

#request-container
  .request
    = image_tag @request.household.photo.url(:thumb)
    .left
      %h2.name=link_to "#{@request.household}", members_household_path(@request.household)
      %h2.household Household
    .right
      .title
        =h @request.title
      .date
        =h @request.start_time.to_s(:nicetime)
        to
        =h @request.end_time.to_s(:nicetime)
        on
        =h @request.from_date.to_s(:short)
        -if @request.from_date != @request.to_date
          =h @request.to_date.to_s(:short)
      .cost
        Cost:
        =h pluralize(@request.cost.to_i, "credit")
      .children
        Children:
        =h @request.children
    .tools
      - if @request.household_id.eql? current_user.household_id
        = link_to "<span class='pen icon'></span>Edit", edit_members_request_path(@request), :class => "pill button"
        = link_to "<span class='cross icon'></span>Delete", members_request_path(@request), :confirm => 'Are you sure?', :method => :delete, :class => "pill button negative"
    .clear
