- content_for :title do
  View request: #{@request.title}

%h1= "View request: #{@request.title}" 

.request
  = image_tag @request.household.photo.url(:thumb)
  .left
    %h2.name=link_to "#{@request.household}", members_request_path(@request)
    %h2.household Household
  .right
    .title
      =h @request.title
    .date
      =h @request.start_time.to_s(:nicetime)
      to
      =h @request.end_time.to_s(:nicetime)
      on
      =h @request.from_date.to_s(:short)
      -if @request.from_date != @request.to_date
        =h @request.to_date.to_s(:short)
    .cost
      Cost:
      =h pluralize(@request.cost.to_i, "credit")
    .children
      Children:
      =h @request.children
  .tools
    - if @request.household_id.eql? current_user.household_id
      %span= link_to "Edit", edit_members_request_path(@request)
      %span= link_to "Remove", members_request_path(@request), :confirm => 'Are you sure?', :method => :delete
    %span= link_to "View All Requests", members_requests_path
    %span= link_to "My household", members_profile_path
  .clear
