- form_for [:admin, @request] do |f|
  = f.error_messages
  %p
    = f.label :from
    %br/
    = f.text_field :from_date, :value => (@request.from_date.blank? ? '' : @request.from_date.to_s(:numDate))
    at
    = f.time_select :start_time
  %p
    = f.label :to
    %br/
    = f.text_field :to_date, :value => (@request.to_date.blank? ? '' : @request.to_date.to_s(:numDate))
    at
    = f.text_field :end_time, :value => (@request.end_time.blank? ? '' : @request.end_time.to_s(:justTime))
  %p
    = f.label :cost
    %br/
    = f.text_field :cost
  %p= f.submit

