- title "Request"
%p
  %strong Date:
  = h @request.date
%p
  %strong Start Time:
  = h @request.start_time
%p
  %strong End Time:
  = h @request.end_time
%p
  %strong Cost:
  = h @request.cost
%p
  = link_to "Edit", edit_admin_request_path(@request)
  |
  \#{link_to "Destroy", @request, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", requests_path}
