- content_for :title do
  Profile
-if @household.num_children > @household.children.count
  #profile_notice
    %h3 Your household is incomplete!
    You have indicated that you have #{@household.num_children} children, but you have only created #{pluralize(@household.children.count, "child")} for your household.
    %p=link_to "Add another child >>", new_members_child_path
#left-column
  #photo

    -#=link_to image_tag(@household.photo.url(:medium)) , edit_members_profile_path(@household)


    -#= link_to image_tag(@household.photo.url(:medium)) , members_profile_edit_path(@household)

    =link_to image_tag(@household.photo.url(:medium)) , members_profile_edit_path

  #info
    %div.title 
      Caregiver(s)
      %span#small_link= link_to "(view all)", members_users_path
    %div
      -for user in @household.users
        -unless @household.users.eql? nil
          -if user.household_confirmed.eql? true
            .child
              =h link_to "#{user.first_name} #{user.last_name}", members_user_path(user)
        -else
          You have no caregivers
      %p
    %div.title
      Children
      %span#small_link= link_to "(view all)", members_children_path
    %div
      -for child in @household.children
        -unless @household.children.eql? nil
          .child
            =h link_to "#{child.first_name} #{child.last_name}", members_child_path(child)
        -else
          You have no children.
      %p= link_to "+ Add Child", new_members_child_path
    %div.title
      = "Address"
      %span#small_link= link_to " (edit)", edit_members_address_path(@household.address)
    %div
      - @address = @household.address
      - address_link = "http://maps.google.com?q=#{@address.street1}+#{@address.street2}+#{@address.city}+#{@address.state}+#{@address.zip}"
      - unless @household.address.nil?
        %a{:href => address_link, :title => "View in Google Maps", :class => "extern_link", :target => "blank"}
          = @address.street1
          = @address.street2
          %br
          = "#{@address.city}, "
          = @address.state
          = @address.zip

      - else
        You haven't entered an address for your household.
        %p
        = link_to "+ Add an address", new_members_address_path
      %p
    %div.title 
      Phone
      %span#small_link= link_to "(edit)", members_settings_path
    %div
      .child
        .name=h "Household:"
        =h @household.home_phone
      %br
      -for phone_number in @household.users
        -unless @household.users.eql? nil
          .child
            .name=h "#{phone_number.first_name}:"
            =h "Cell: #{phone_number.phone}"
            - unless phone_number.work_phone.eql? nil
              =h "Work: #{phone_number.work_phone}"
              %br
        -else
          No known phone numbers
      %p
    %div.title 
      Emergency Contacts
      %span#small_link= link_to " (edit)", members_emergency_contacts_path
    %div
      -for contact in @household.emergency_contacts
        -unless @household.users.eql? nil
          .child
            =h link_to "#{contact.name} (#{contact.relationship})", members_emergency_contact_path(contact)

#right-column
  #top
    #household-info
      %h1= "The #{@household} Household"
      %br
      
      // open requests should look like they deduct immediately
      - open_requests_sum = 0
      -for request in @household.requests
        - unless commit(request)
          - open_requests_sum += 1
      
      = "Credit Balance: #{@household.credits - open_requests_sum}"
      %br
      -#= "confirmed Credits: #{@household.requests.cost}"
    #buttons
      = link_to 'Edit my Household', members_profile_edit_path
      = link_to '+ Create a New Request', new_members_request_path
  #content
    - openRequests = false
    - if @household.requests.length > 0
      - for r in @household.requests
        - if !commit(r)
          - openRequests = true
          - break
      - if !openRequests
        #no-requests 
          You have no open requests.
      - else
        %font.small-title My Open Requests
        #requests
          - for request in @household.requests
            -unless commit(request)
              .request

                .left
                  %h2#name= request.household
                  %h2#household Household
                .right
                  .title
                    =h request.title
                  .date
                    =h request.start_time.to_s(:nicetime)
                    to
                    =h request.end_time.to_s(:nicetime)
                    on
                    =h request.from_date.to_s(:short)
                    -if request.from_date != request.to_date
                      to
                      =h request.to_date.to_s(:short)
                  .cost
                    Cost:
                    =h request.cost
                    credits
                  .children
                    Children:
                    -for child in request.children
                      -if request.children.count == 1
                        =h "#{child}"
                      -else
                        =h "#{child}, "              
                  - unless request.notes.nil?
                    .notes
                      Additional notes:
                      =h request.notes
                .tools
                  %span= link_to "Edit", edit_members_request_path(request)
                  %span= link_to "Cancel", members_request_path(request), :confirm => 'Are you sure?', :method => :delete
                .clear
    - else
      #no-requests
        You have no open requests.

    - if @confirmed_requests.length > 0
      %font.small-title Confirmed Care Requests
    - if @confirmed_requests.length == 0
      #no-requests
        You have no confirmed requests.
    - else
      #requests
        - for confirmed in @confirmed_requests
          .request
            
            .left
              %h2#name=confirmed.request.household
              %h2#household Household
            .right
              .title
                =h confirmed.request.title
              .date
                =h confirmed.request.start_time.to_s(:nicetime)
                to
                =h confirmed.request.end_time.to_s(:nicetime)
                on
                =h confirmed.request.from_date.to_s(:short)
                - if confirmed.request.from_date != confirmed.request.to_date
                  to
                  =h confirmed.request.to_date.to_s(:short)
                .cost
                  Cost:
                  =h confirmed.request.cost
                  credits
                .children
                  Children:
                  -for child in confirmed.request.children
                    -if confirmed.request.children.count == 1 or child.eql? confirmed.request.children.last
                      =h "#{child}"
                    -else
                      =h "#{child}, "
                - unless confirmed.request.notes.nil?
                  .notes
                    Additional notes:
                    = confirmed.request.notes
            .tools
              %span= link_to "Edit", edit_members_request_path(confirmed.request)
              %span= link_to "Cancel", members_request_path(confirmed.request), :confirm => 'Are you sure?', :method => :delete
            .clear

    - if @commitments.length > 0
      %font.small-title My Commitments
    - if @commitments.length == 0
      #no-requests
        You have no commitments.
    - else
      #requests
        - for commitment in @commitments
          .request
            .img 
              =image_tag(commitment.request.household.photo.url(:thumb), :alt => "#{commitment.household.to_s}")
            .left
              %h2#name=commitment.request.household
              %h2#household Household
            .right
              .date
                =h commitment.request.start_time.to_s(:nicetime)
                to
                =h commitment.request.end_time.to_s(:nicetime)
                on
                =h commitment.request.from_date.to_s(:short)
                - if commitment.request.from_date != commitment.request.to_date
                  to
                  =h commitment.request.to_date.to_s(:short)
                .cost
                  Cost:
                  =h commitment.request.cost
                  credits
                .children
                  Children
                  -for child in commitment.request.children
                    -if commitment.request.children.count == 1 or child.eql? commitment.request.children.last
                      =h "#{child}"
                    -else
                      =h "#{child}, "
                - unless commitment.request.notes.nil?
                  .notes
                    Additional notes:
                    = commitment.request.notes
            .tools
              %span= link_to "Show Details", detail_members_request_path(commitment.request)
            .clear

