- content_for :title do
  Profile
-if @household.num_children > @household.children.count
  #profile_notice
    %h3 Your household is incomplete!
    You have indicated that you have #{@household.num_children} children, but you have only created #{pluralize(@household.children.count, "child")} for your household.
    %p= link_to "<span class='user icon'></span>Add a new child", new_members_child_path, :class => 'pill button'
#left-column
  #photo
    %a{ :href => members_profile_edit_path } 
      %span{ :id => "edit" } Edit your photo
      =image_tag(@household.photo.url(:medium))

  #info
    %div.title 
      Caregiver(s)
      %span#small_link= link_to "(view all)", members_users_path
    %div
      -for user in @household.users
        -unless @household.users.eql? nil
          -if user.household_confirmed.eql? true
            .child
              =h link_to "#{user.first_name} #{user.last_name}", members_user_path(user)
              -if user.relationship
                %span#relation="(#{user.relationship})" 
        -else
          You have no caregivers
      %p
    %div.title
      Children
      %span#small_link= link_to "(view all)", members_children_path
    %div
      -for child in @household.children
        -unless @household.children.eql? nil
          .child
            =h link_to "#{child.first_name} #{child.last_name}", members_child_path(child)
        -else
          You have no children.
      - if @household.num_children < @household.children.count
        #add-child
          = link_to "<span class='user icon'></span>Add Child", new_members_child_path, :class => 'button pill'
      - else
        %br
    %div.title
      = "Address"
      %span#small_link= link_to " (edit)", edit_members_address_path(@household.address)
    %div
      - @address = @household.address
      - address_link = "http://maps.google.com?q=#{@address.street1}+#{@address.street2}+#{@address.city}+#{@address.state}+#{@address.zip}"
      - unless @household.address.nil?
        -#%a{:href => address_link, :title => "View in Google Maps", :class => "extern_link", :target => "blank"}
        = @address.street1
        = @address.street2
        %br
        = "#{@address.city}, "
        = @address.state
        = @address.zip

      - else
        You haven't entered an address for your household.
        %p
        = link_to "+ Add an address", new_members_address_path
      %p
    %div.title 
      Phone
      %span#small_link= link_to "(edit)", members_settings_path
    %div
      - if !@household.home_phone.eql? nil
        .child
          =h "#{number_to_phone(@household.home_phone, :area_code => true)} (Household)"
      -for phone_number in @household.users
        -unless @household.users.eql? nil
          -if ! phone_number.household_confirmed.eql? false
            .child
              =h "#{number_to_phone(phone_number.phone, :area_code => true)} (#{phone_number.first_name} cell)"
              - unless phone_number.work_phone.eql? nil
                %br
                - if !phone_number.work_phone.eql? nil or !phone_number.work_phone.eql? ""
                  =h "#{number_to_phone(phone_number.work_phone, :area_code => true)} (#{phone_number.first_name} work)"
                  %br
        -else
          No known phone numbers
      %p
    %div.title 
      Emergency Contacts
      %span#small_link= link_to " (edit)", members_emergency_contacts_path
    %div
      -for contact in @household.emergency_contacts
        -unless @household.users.eql? nil
          .child
            =h link_to "#{contact.name} (#{contact.relationship})", members_emergency_contact_path(contact)

#top
  #household-info
    #title= "The #{@household} Household "
    %font{:style => "margin: 0 0 0 7px"}= link_to "(edit)", members_settings_path
    %br
    %br
    // open requests should look like they deduct immediately
    - open_requests_sum = 0
    -for request in @household.requests
      - unless commit(request)
        - open_requests_sum += request.cost.to_i
    
    = "Credit Balance: #{@household.credits - open_requests_sum}"
    #buttons
      = link_to '<span class="pen icon"></span>Edit Household', members_settings_path, :class => 'left pill button'
      = link_to '<span class="plus icon"></span>Create New Request', new_members_request_path, :class => 'right pill button'
#right-column
  #header
    My Requests
  #content-requests
    - openRequests = false
    - if @household.requests.length > 0
      - for r in @open_requests
        - if !commit(r)
          - openRequests = true
          - break
      - if !openRequests
        #no-requests 
          You have no open requests.
      - else
        .title#open
          %font.small-title My Open Requests
        .requests#open
          - for request in @open_requests
            -unless commit(request)
              .request
                .img 
                  =image_tag(request.household.photo.url(:thumb), :alt => "#{request.household.to_s}")
                .right
                  .title
                    = "#{link_to request.title, members_request_path(request)} (#{pluralize(request.cost.to_i, "credit")})"
                  .date
                    =h request.start_time.to_s(:nicetime)
                    to
                    =h request.end_time.to_s(:nicetime)
                    on
                    =h "#{Date::DAYNAMES[request.from_date.wday]}, #{Date::MONTHNAMES[request.from_date.mon]} #{request.from_date.mday}"
                    -if request.from_date != request.to_date
                      to
                      =h "#{Date::DAYNAMES[request.to_date.wday]}, #{Date::MONTHNAMES[request.to_date.mon]} #{request.to_date.mday}"
                
                  .children
                    Children:
                    -for child in request.children
                      -if request.children.count == 1
                        =h "#{child.first_name}"
                      -else
                        =h "#{child.first_name}, "              
                  - unless request.notes.eql? ""
                    .notes
                      Notes:
                      =h request.notes
                .tools
                  = link_to "<span class='pen icon'></span>Edit", edit_members_request_path(request), :class => 'pill button'
                  = link_to "<span class='cross icon'></span>Delete", members_request_path(request), :confirm => 'Are you sure you\'d like to cancel this Care Request?', :method => :delete, :class => 'pill button negative'
                .clear
      .clear
    - else
      #no-requests
        You have no open requests.

    - if @confirmed_requests.length > 0
      .title#confirmed
        %font.small-title Confirmed Care Requests
    - if @confirmed_requests.length == 0
      #no-requests
        You have no confirmed requests.
    - else
      .requests#confirmed
        - for confirmed in @confirmed_requests
          .request
            .img
              =image_tag(confirmed.request.household.photo.url(:thumb), :alt => "#{confirmed.household.to_s}")
            .right
              .title
                = "#{link_to confirmed.request.title, members_request_path(confirmed.request)} (#{pluralize(confirmed.request.cost.to_i, "credit")})"
              .date
                =h confirmed.request.start_time.to_s(:nicetime)
                to
                =h confirmed.request.end_time.to_s(:nicetime)
                on
                =h "#{Date::DAYNAMES[confirmed.request.from_date.wday]}, #{Date::MONTHNAMES[confirmed.request.from_date.mon]} #{confirmed.request.from_date.mday}"
                - if confirmed.request.from_date != confirmed.request.to_date
                  to
                  =h "#{Date::DAYNAMES[confirmed.request.to_date.wday]}, #{Date::MONTHNAMES[confirmed.request.to_date.mon]} #{confirmed.request.to_date.mday}"
                
                .children
                  Children:
                  -@count = 0
                  -for child in confirmed.request.children
                    -if confirmed.request.children.count == 1 or child.eql? confirmed.request.children.last
                      =h "#{child.first_name}"
                    -else
                      =h "#{child.first_name}, "
                - unless confirmed.request.notes.eql? ""
                  .notes
                    Notes:
                    = confirmed.request.notes
            .tools
              = link_to "<span class='pen icon'></span>Edit", edit_members_request_path(confirmed.request), :class => 'button pill'
              = link_to "<span class='cross icon'></span>Delete", members_request_path(confirmed.request), :confirm => 'Are you sure?', :method => :delete, :class => 'button negative pill'
              %br
              %br
              Confirmed Caregiver: 
              - caregiver = get_caregiver(confirmed.caregiver_commit_id)
              %font= "#{caregiver.first_name} #{caregiver.last_name}"
            .clear
      .clear
  #header
    My Commitments
  #content-commitments
    - if @commitments.length > 0
      .title#commitments
        %font.small-title My Commitments
    - if @commitments.length == 0
      #no-requests
        You have no commitments.
    - else
      .requests#commitments
        - for commitment in @commitments
          .request
            .img 
              =image_tag(commitment.request.household.photo.url(:thumb), :alt => "#{commitment.household.to_s}")
            .left
              %h2.name= link_to "#{commitment.request.household}", members_household_path(get_request_household(commitment))
              %h2.household household
        
            .right
              .title
                = "#{link_to commitment.request.title, members_request_path(commitment.request)} (#{pluralize(commitment.request.cost, "credit")})"
              .date
                =h commitment.request.start_time.to_s(:nicetime)
                to
                =h commitment.request.end_time.to_s(:nicetime)
                on
                %br
                =h "#{Date::DAYNAMES[commitment.request.from_date.wday]}, #{Date::MONTHNAMES[commitment.request.from_date.mon]} #{commitment.request.from_date.mday}"
                - if commitment.request.from_date != commitment.request.to_date
                  to
                  =h "#{Date::DAYNAMES[confirmed.request.to_date.wday]}, #{Date::MONTHNAMES[confirmed.request.to_date.mon]} #{confirmed.request.to_date.mday}"
                .children
                  Children
                  -for child in commitment.request.children
                    -if commitment.request.children.count == 1 or child.eql? commitment.request.children.last
                      =h "#{child.first_name}"
                    -else
                      =h "#{child.first_name}, "
                - unless commitment.request.notes.eql? ""
                  .notes
                    Notes:
                    = commitment.request.notes
            .tools
              = link_to "<span class='magnifier icon'></span>Details", detail_members_request_path(commitment.request), :class => 'pill button'
              = link_to "<span class='cross icon'></span>Cancel", members_pending_request_path(commitment), :confirm => 'Are you sure you want to cancel this commitment?', :method => :delete, :class => 'pill button negative'
            .clear     
      .clear
    - if @pending_commitments.count > 0
      .title#pending
        %font.small-title My Pending Commitments
    - if @pending_commitments.count == 0
      #no-requests
        You have no pending commitments
    - else
      .requests#pending
        - for pending_commitment in @pending_commitments
          .request
            .img
              = image_tag(pending_commitment.request.household.photo.url(:thumb), :alt => "#{pending_commitment.household.to_s}")
            .left
              %h2.name= link_to "#{pending_commitment.request.household}", members_household_path(get_request_household(pending_commitment))
              %h2.household household

            .right
              .title
                = "#{link_to pending_commitment.request.title, members_request_path(pending_commitment.request)} (#{pluralize(pending_commitment.request.cost, "credits")})"
              .date
                =h pending_commitment.request.start_time.to_s(:nicetime)
                to
                =h pending_commitment.request.end_time.to_s(:nicetime)
                on
                %br
                =h "#{Date::DAYNAMES[pending_commitment.request.from_date.wday]}, #{Date::MONTHNAMES[pending_commitment.request.from_date.mon]} #{pending_commitment.request.from_date.mday}"
                - if pending_commitment.request.from_date != pending_commitment.request.to_date
                  to
                  =h "#{Date::DAYNAMES[pending_commitment.request.to_date.wday]}, #{Date::MONTHNAMES[pending_commitment.request.to_date.mon]} #{pending_commitment.request.to_date.mday}"
                .children
                  Children
                  - for child in pending_commitment.request.children
                    - if pending_commitment.request.children.count == 1 or child.eql? pending_commitment.request.children.last
                      =h "#{child.first_name}"
                    - else
                      =h "#{child.first_name}, "
                - unless pending_commitment.request.notes.eql? ""
                  .notes
                    Notes:
                    = pending_commitment.request.notes
            .tools
              = link_to "<span class='magnifier icon'></span>Show Details", detail_members_request_path(pending_commitment.request), :class => 'button pill'
              = link_to "<span class='cross icon'></span>Cancel Care Request", members_pending_request_path(pending_commitment), :confirm => 'Are you sure you want to cancel this pending request?', :method => :delete, :class => 'pill button negative'
            .clear
      .clear
