- content_for :title do
  Profile
#left-column
  #photo
    =image_tag @household.photo.url(:medium)
  #info
    %div.title Caregivers
    %div
      -for user in @household.users
        -unless @household.users.eql? nil
          .child
            =h link_to "#{user.first_name} #{user.last_name}", members_user_path(user)
        -else
          You have no caregivers
      %p
    %div.title= link_to "Children", members_children_path
    %div
      -for child in @household.children
        -unless @household.children.eql? nil
          .child
            =h link_to "#{child.first_name} #{child.last_name}", members_child_path(child)
        -else
          You have no children.
      %p= link_to "+ Add Child", new_members_child_path
    %div.title Address
    %div
      Address
      %p
    %div.title Phone
    %div
      -for phone_number in @household.users
        -unless @household.users.eql? nil
          .child
            =h "#{number_to_phone(phone_number.phone)}"
        -else
          No known phone numbers

#right-column
  #top
    #household-info
      %h1= "The #{@household} Household"
      %br
      = "Credit Balance: #{@household.credits}"
      %br
      -#= "Pending Credits: #{@household.requests.cost}"
    #buttons
      = link_to 'Edit my Household', members_profile_edit_path
      = link_to '+ Create a New Request', new_members_request_path
  #content
    - if @household.requests.length > 0
      %font.small-title My Open Requests
    - if @household.requests.length == 0
      #no-requests 
        You have no open requests.
    - else
      #requests
        - for request in @household.requests
          .request
            %img
            .left
              %h2#name=link_to "#{request.household}", members_request_path(request)
              %h2#household Household
            .right
              .date
                =h request.start_time.to_s(:nicetime)
                to
                =h request.end_time.to_s(:nicetime)
                on
                =h request.from_date.to_s(:short)
                -if request.from_date != request.to_date
                  to
                  =h request.to_date.to_s(:short)
              .cost
                Cost:
                =h request.cost
                credits
              .children
                Children:
                -@count = 0
                -for child in request.children
                  =h "#{child}"
                  -@count +=1
                  -if @count != request.children.length
                    ,
                  
            .tools
              %span= link_to "Show", members_request_path(request)
              %span= link_to "Edit", edit_members_request_path(request)
              %span= link_to "Delete", members_request_path(request), :confirm => 'Are you sure?', :method => :delete
            .clear

