- content_for :title do
  Profile
-if @household.num_children > @household.children.count
  #profile_notice
    %h3 Your household is incomplete!
    You have indicated that you have #{@household.num_children} children, but you have only created #{pluralize(@household.children.count, "child")} for your household.
    %p=link_to "Add another child >>", new_members_child_path
#left-column
  #photo

    -#=link_to image_tag(@household.photo.url(:medium)) , edit_members_profile_path(@household)


    -#= link_to image_tag(@household.photo.url(:medium)) , members_profile_edit_path(@household)

    =link_to image_tag(@household.photo.url(:medium)) , members_profile_edit_path

  #info
    %div.title Caregivers
    %div
      -for user in @household.users
        -unless @household.users.eql? nil
          .child
            =h link_to "#{user.first_name} #{user.last_name}", members_user_path(user)
        -else
          You have no caregivers
      %p
    %div.title= link_to "Children", members_children_path
    %div
      -for child in @household.children
        -unless @household.children.eql? nil
          .child
            =h link_to "#{child.first_name} #{child.last_name}", members_child_path(child)
        -else
          You have no children.
      %p= link_to "+ Add Child", new_members_child_path
    %div.title Address
    %div
      - unless @household.address.nil?
        = @household.address.street1
        = @household.address.street2
        %br
        = "#{@household.address.city}, "
        = @household.address.state
        = @household.address.zip
        %p
        = link_to "Edit your address", members_addresses_path_edit
      - else
        You haven't entered an address for your household.
        %p
        = link_to "+ Add an address", new_members_addresses_path
      %p
    %div.title Phone
    %div
      -for phone_number in @household.users
        -unless @household.users.eql? nil
          .child
            =h "#{number_to_phone(phone_number.phone)}"
        -else
          No known phone numbers

#right-column
  #top
    #household-info
      %h1= "The #{@household} Household"
      %br
      = "Credit Balance: #{@household.credits}"
      %br
      -#= "Pending Credits: #{@household.requests.cost}"
    #buttons
      = link_to 'Edit my Household', members_profile_edit_path
      = link_to '+ Create a New Request', new_members_request_path
  #content
    - if @household.requests.length > 0
      %font.small-title My Open Requests
    - if @household.requests.length == 0
      #no-requests 
        You have no open requests.
    - else
      #requests
        - for request in @household.requests
          .request
            %img
            .left
              %h2#name=link_to "#{request.household}", members_request_path(request)
              %h2#household Household
            .right
              .title
                =h request.title
              .date
                =h request.start_time.to_s(:nicetime)
                to
                =h request.end_time.to_s(:nicetime)
                on
                =h request.from_date.to_s(:short)
                -if request.from_date != request.to_date
                  to
                  =h request.to_date.to_s(:short)
              .cost
                Cost:
                =h request.cost
                credits
              .children
                Children:
                -@count = 0
                -for child in request.children
                  =h "#{child}"
                  -@count +=1
                  -if @count != request.children.length
                    ,
            .tools
              %span= link_to "Edit", edit_members_request_path(request)
              %span= link_to "Delete", members_request_path(request), :confirm => 'Are you sure?', :method => :delete
            .clear

    - if @confirmed_requests.length > 0
      %font.small-title My Confirmed Requests
    - if @confirmed_requests.length == 0
      #no-requests
        You have no confirmed requests.
    - else
      #requests
        - for confirmed in @confirmed_requests
          .request
            .img 
              =image_tag(confirmed.request.household.photo.url(:thumb), :alt => "#{confirmed.household.to_s}")
            .left
              %h2#name=confirmed.request.household
              %h2#household Household
            .right
              .date
                =h confirmed.request.start_time.to_s(:nicetime)
                to
                =h confirmed.request.end_time.to_s(:nicetime)
                on
                =h confirmed.request.from_date.to_s(:short)
                - if confirmed.request.from_date != confirmed.request.to_date
                  to
                  =h confirmed.request.to_date.to_s(:short)
                .cost
                  Cost:
                  =h confirmed.request.cost
                  credits
                .children
                  Children
                  -@count = 0
                  -for child in confirmed.request.children
                    =h "#{child}"
                    -@count += 1
                    -if @count != confirmed.request.children.length
                      ,
            .tools
              %span= link_to "Show", detail_members_request_path(confirmed.request)
            .clear

