- content_for :title do
  Settings

%h1#title= "#{@user.household} Household Account Settings"

#hidden-requests-container
  %h2.title Hidden Requests
  - if @hidden_requests.count == 0 && @hidden_household_requests.count == 0
    .hidden-title You have no hidden requests
  - if @hidden_requests.count > 0
    .hidden-title You have chosen to hide these requests

  - for hidden_request in @hidden_requests
    .hidden-household
      .photo
        = image_tag hidden_request.request.household.photo.url(:thumb)
      .household
        = hidden_request.request.household
        %br
        = hidden_request.request.from_date.to_s(:short)
        - if !hidden_request.request.same_date
          \-
          = hidden_request.request.to_date.to_s(:short)
      .button
        = link_to 'Unhide', {:controller => 'settings', :action => 'destroy', :id => hidden_request.id}, :confirm => 'Are you sure you want to unhide this request?', :method => :delete
      .clear

  - if @hidden_household_requests.count > 0
    .hidden-title You have chosen to hide requests from these households

  -for hidden_household_request in @hidden_household_requests
    .hidden-household
      .photo
        = image_tag find_hidden_household(hidden_household_request).photo.url(:thumb)
      .household
        = find_hidden_household(hidden_household_request)
      .button
        = link_to 'Unhide', {:controller => 'settings', :action => 'destroy', :id => hidden_household_request.id}, :confirm => "Are you sure you want to unhide all of #{find_hidden_household(hidden_household_request)}'s household's requests?", :method => :delete
      .clear

#user-household-info
  #delete-account
    - unless current_user.household.users.count > 1
      = link_to 'Delete My Account', {:controller => 'settings', :action => 'delete_account'}, :confirm => 'Are you sure? Deleting your account will also remove your household and all information related'
    - else
      = link_to 'Delete My Account', {:controller => 'settings', :action => 'delete_account'}, :confirm => 'Are you sure? This will not delete your household, only your account'
  #user
    %strong Your User Information 
    %font#edit-user= link_to '(edit)', '#'
    %br
    %br
    - form_for [:members, @user] do |f|
      #username
        %font.small-title= f.label "Username:"
        %font.text= @user.username
      #first-name
        %font.small-title= f.label "First Name:" 
        %font.text= @user.first_name
      #last-name
        %font.small-title= f.label "Last Name:"
        %font.text= @user.last_name
      #email
        %font.small-title= f.label "Email:"
        %font.text= @user.email
      #phone
        %font.small-title= f.label "Phone:"
        %font.text= number_to_phone(@user.phone, :area_code => true)
      #work_phone
        %font.small-title= f.label "Work Phone:"
        %font.text= number_to_phone(@user.work_phone, :area_code => true)
      #change-password
        = link_to 'Change My Password', '#'
      #new-password
        %font.small-title= f.label "New Password:"
        = f.password_field :password
      #password-confirmation
        %font.small-title= f.label "Password Confirmation"
        = f.password_field :password_confirmation
      #user-submit
        = f.submit
  #household
    %strong= "#{@user.household} Household Information"
    %font#edit-household= link_to '(edit)', '#'
    %br
    %br
    - form_for [:members, @user.household] do |f|
      #household-name
        %font.small-title= f.label "Household Name:"
        %font.text= @user.household
      #home-phone
        %font.small-title= f.label "Household Phone:"
        %font.text= number_to_phone(@user.household.home_phone, :area_code => true)
      #household-submit
        = f.submit
    
    #users
      Users: 
      %br
      - for user in @users
        .indent 
          Username:
          %font= user.username
          Name:
          %font= user.first_name + " " + user.last_name
          %br
    
