- content_for :title do
  Settings

#hidden-requests-container
  %h2.title Hidden Requests
  - if @hidden_requests.count == 0 && @hidden_household_requests.count == 0
    .hidden-title You have no hidden requests
  - if @hidden_requests.count > 0
    .hidden-title You have chosen to hide these requests

  - for hidden_request in @hidden_requests
    .hidden-household
      .photo
        = image_tag hidden_request.request.household.photo.url(:thumb)
      .household
        = hidden_request.request.household
        %br
        = hidden_request.request.from_date.to_s(:short)
        - if !hidden_request.request.same_date
          \-
          = hidden_request.request.to_date.to_s(:short)
      .button
        = link_to 'Unhide', {:controller => 'settings', :action => 'destroy', :id => hidden_request.id}, :confirm => 'Are you sure?', :method => :delete
      .clear

  - if @hidden_household_requests.count > 0
    .hidden-title You have chosen to hide requests from these households

  -for hidden_household_request in @hidden_household_requests
    .hidden-household
      .photo
        = image_tag find_hidden_household(hidden_household_request).photo.url(:thumb)
      .household
        = find_hidden_household(hidden_household_request)
      .button
        = link_to 'Unhide', {:controller => 'settings', :action => 'destroy', :id => hidden_household_request.id}, :confirm => 'Are you sure?', :method => :delete
      .clear

#user-household-info
  #delete-account
    - unless current_user.household.users.count > 1
      = link_to 'Delete My Account', {:controller => 'settings', :action => 'delete_account'}, :confirm => 'Are you sure? Deleting your account will also remove your household and all information related'
    - else
      = link_to 'Delete My Account', {:controller => 'settings', :action => 'delete_account'}, :confirm => 'Are you sure? This will not delete your household, only your account'
  #user
    %h2.title Your User Info (Click attribute to edit info)
    - form_for [:members, @user] do |f|
      #username
        = f.label :username 
        %font= link_to @user.username, '#'
      #first-name
        = f.label :first_name 
        %font= link_to @user.first_name, '#'
      #last-name
        = f.label :last_name 
        %font= link_to @user.last_name, '#'
      #email
        = f.label :email 
        %font= link_to @user.email, '#'
      #phone
        = f.label :phone 
        %font= link_to number_to_phone(@user.phone, :area_code => true), '#'
      #change-password
        = link_to 'Change Password', '#'
      = f.submit
  #household
    %h2.title Your Household info
    - form_for [:members, @user.household] do |f|
      #household-name
        Household Name:
        %font= link_to @user.household, '#'
      = f.submit
    #users
      Users: 
      %br
      - for user in @users
        .indent 
          Username:
          %font= user.username
          Name:
          %font= user.first_name + " " + user.last_name
          %br
    
