-title "Find Neighbors "
-if !current_user.has_household?
  %h3 Please find the Household you would like to join.  Please note, you can only be associated with one household
-if current_user.has_household? or !params[:search].blank?
  - unless params[:search].blank?
    - content_for :title do
      = "Search Results for: #{params[:search]}"
    
    %h1= "Search Results for: '#{params[:search]}'"
    
    - unless @households.count + @users.count == 0
      #profile_notice
        = image_tag ('/images/warning-icon.png')
        %strong Caution: 
        Please remember that when you add someone as a neighbor, they will be able to view ALL of your information about your household.  Make sure to only add neighbors that you know and trust
    
    -if @households.count == 0 and @users.count == 0
      #no-results There were no results found for '#{params[:search]}'.
    -else
      %h3#num-results= "There were #{pluralize(@households.count + @users.count, 'result')} found"
    
    - if !@households.nil?
      - for household in @households
        - unless household == current_user.household
          .result
            .image= image_tag household.photo.url(:thumb)
            .info
              .name= link_to household, members_household_path(household)
              .attributes
                %span.small-title Household Phone:
                = number_to_phone(household.home_phone, :area_code => true)
              -for user in household.users
                .attributes
                  %span.small-title Email:
                  = user.email
                  %br
                  %span.small-title City:
                  = household.address.city
                  %br
                  %span.small-title State:
                  = household.address.state
                  
            .button
              - if !current_user.has_household?
                = link_to 'Request to join household', {:controller => "households", :action => "join_request", :user_id => current_user.id, :household_id => household.id}, :method => :post
              - elsif neighbor(household)
                = link_to 'Show', members_household_path(household)
              - else
                = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => household.id}, :method => :post
            .clear
    
    - if !@users.nil?
      - for user in @users
        .result
          = image_tag user.household.photo.url(:thumb)
          .info
            .name= link_to user.household, members_household_path(user.household)
            .attributes
              %font.small-title Phone:
              = number_to_phone(user.phone, :area_code => true)
              %br
              %font.small-title Email:
              = user.email
          .button
            - if !current_user.has_household?
              = link_to 'Request to join household', {:controller => "households", :action => "join_request", :user_id => current_user.id, :household_id => household.id}, :method => :post
            - elsif neighbor(user.household)
              = link_to 'Show', members_household_path(user.household)
            - else
              = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => user.household_id}, :method => :post
          .clear
          
%h2 Search for Neighbors
%h3 You can search by name, phone number, or email
= render :partial => 'form'
