- content_for :title do
  = "Search Results for: #{params[:search]}"

%h1= "Search Results for: '#{params[:search]}'"

-if @households.count == 0 and @users.count == 0
  #no-results There were no results found
-else
  %h3#num-results= "There were #{pluralize(@households.count + @users.count, 'result')} found"

- if !@households.nil?
  - for household in @households
    - unless household == current_user.household
      .result
        .image= image_tag household.photo.url
        .info
          .name= household
          -for user in household.users
            .attributes
              %font.small-title Phone:
              = user.phone
              %br
              %font.small-title Email:
              = user.email
        .button
          = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => household.id}, :method => :post
      .clear

- if !@users.nil?
  - for user in @users
    .result
      = image_tag user.household.photo.url
      .info
        .name= user.household
        .attributes
          %font.small-title Phone:
          = number_to_phone(user.phone, :area_code => true)
          %br
          %font.small-title Email:
          = user.email
      .button
        = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => user.household_id}, :method => :post
    .clear