- content_for :title do
  = "Search Results for: #{params[:search]}"

%h1= "Search Results for: '#{params[:search]}'"

-if !@households.nil?
  -if @households.count == 0
    -@found = false#no-results There were no results found
  -else
    %h3#num-results= "There were #{pluralize(@households.count, 'result')} found"
-if !@users.nil?
  -if @users.count == 0 and !@found
    #no-results There were no results found
  -else
    %h3#num-results= "There were #{pluralize(@users.count, 'result')} found"

- if !@households.nil?
  - for household in @households
    - unless household == current_user.household
      .result
        = image_tag '/images/icon_small_user.png'
        .info
          .name= household
          %br
          -for user in household.users
            .attributes
              %font.small-title Phone:
              = user.phone
              %br
              %font.small-title Email:
              = user.email
        .button
          = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => household.id}, :method => :post

- if !@users.nil?
  - for user in @users
    .result
      = image_tag '/images/icon_small_user.png'
      .info
        .name= user.household
        %br
        .attributes
          %font.small-title Phone:
          = number_to_phone(user.phone, :area_code => true)
          %br
          %font.small-title Email:
          = user.email
      .button
        = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => user.household_id}, :method => :post