%h1= "Search Results for: #{params[:search]}"

-if !@households.nil?
  -if @households.count == 0
    #no-results There were no results found
  - else
    %h3#num-results= "There were #{@households.count} results found"
-if !@phones.nil?
  -if @phones.count == 0
    #no-results There were no results found
  - else
    %h3#num-results= "There were #{@phones.count} results found"
-if !@emails.nil?
  -if @emails.count == 0
    #no-results There were no results found
  - else
    %h3#num-results= "There were #{@email.count} results found"

- if !@households.nil?
  - for household in @households
    .result
      = image_tag '/images/icon_small_user.png'
      .info
        .name= household
        %br
        -for user in household.users
          .attributes
            %font.small-title Phone:
            = user.phone
            %br
            %font.small-title Email:
            = user.email
      .button
        = link_to 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => household.id}, :method => :post

- if !@phones.nil?
  - for phone in @phones
    .result
      = image_tag '/images/icon_small_user.png'
      .info
        .name= phone.first_name
        %br
        .attributes
          %font.small-title Phone:
          = number_to_phone(phone.phone, :area_code => true)
          %br
          %font.small-title Email:
          = phone.email
      .button
        = # 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => household.id}, :method => :post

- if !@emails.nil?
  - for email in @emails
    .result
      = image_tag '/images/icon_small_user.png'
      .info
        .name= email.first_name
        %br
        .attributes
          %font.small-title Phone:
          = number_to_phone(email.phone, :area_code => true)
          %br
          %font.small-title Email:
          = email.email
      .button
      = # 'Add as neighbor', {:controller => "neighbors", :action => "create", :household_id => household.id}, :method => :post