- form_for [:members, @emergency_contact] do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :relationship
    %br
    = f.text_field :relationship
  %p
    = f.label :phone
    %br
    = f.text_field :phone
  %p
    = f.submit
    