- form_for [:members, @emergency_contact], :html => {:id => 'signup-process-form'} do |f|
  = yield :header
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name, :autofocus => true
  %p
    = f.label :relationship
    = f.text_field :relationship
  %p
    = f.label :phone
    = f.text_field :phone
  %p
    = f.label "&nbsp;"
    = f.submit "Save", :disable_with => "Please wait..."
    = f.submit "Skip", :disable_with => "Please wait..."
    = f.submit "Add another contact", :disable_with => "Please wait..."
    
