- title "View emergency contact: #{@emergency_contact.name}"

#request-container
  %p
    = link_to "<span class='home icon'></span>Back to household", members_profile_path, :class => "pill button"

  %p
    %strong Name:
    =h @emergency_contact.name
  %p
    %strong Relationship:
    =h @emergency_contact.relationship
  %p
    %strong Phone:
    =h number_to_phone(@emergency_contact.phone)

  %p
    = link_to "<span class='pen icon'></span>Edit", edit_members_emergency_contact_path(@emergency_contact), :class => "pill button"
    = link_to "<span class='cross icon'></span>Remove", members_emergency_contact_path(@emergency_contact), :confirm => 'Are you sure?', :method => :delete, :class => "pill button negative"
    %p
    = link_to "<span class='leftarrow icon'></span>View All of Your Emergency Contacts", members_emergency_contacts_path, :class => "pill button"
  .clear
