.new-forms
  - form_for @user_session, :html => { :id => "login-form" } do |f|
    %h2 Log In
    #sign-up= link_to "Sign up!", signup_path, :class => 'big button'
    %p Log In to access your household account
    = f.error_messages
    = f.text_field :username, :size => 20, :placeholder => "Your Username"
    = f.password_field :password, :size => 20, :placeholder => "Your Password"
    = f.submit "Log in"
    .clear
