- form_for @user_session do |f|
  = f.error_messages
  %p
    = f.label :username
    = f.text_field :username, :size => 20
    = f.label :password
    = f.password_field :password, :size => 20
    = f.submit "Log in"