#footer
  %ul
    %li= link_to "Vision", vision_path
    %li= link_to "Security", security_path
    %li= link_to "Terms of Service", tos_path
    %li= link_to "Contact", contact_path
    %li Villages is a trademark of Circle77.  &copy; #{Time.now.year}
  .clear

