#logout
  = "Logged in as #{link_to current_user.username, members_user_path(current_user)} into the #{link_to current_user.household.name, members_profile_path} household. " unless current_user.household.nil?
  = link_to 'settings', edit_members_user_path(current_user)
  = " | "
  = link_to 'log out', logout_path
%ul.menubar
  %li= link_to 'household', members_profile_path, :title => 'View Profile'
  = admin_menu_items(current_user)
  %li= link_to 'neighbors', members_neighbors_path
  %li= link_to 'requests', members_requests_path, :title => 'Requests'
  %li
    - if current_user
      #search
        - form_tag members_search_path, :method => 'get' do
          = text_field_tag :search, params[:search], default_text("search...")
          = submit_tag "Search", :name => nil
