#logout
  = "Logged in as #{link_to current_user.username, members_user_path(current_user)} into the #{link_to current_user.household.name, members_profile_path} household. " unless current_user.household.nil?
  = link_to 'settings', members_settings_path
  = " | "
  = link_to 'log out', logout_path
%ul.menubar
  %li= link_to 'household', members_profile_path, :title => 'View Profile'
  = admin_menu_items(current_user)
  - unless current_user.household.nil?
    -if has_caregivers(current_user)
      %li.notification= get_caregiver_request_count(current_user)
  %li= link_to 'neighbors', members_neighbors_path
  - unless current_user.household.nil?
    - if has_neighbors(current_user)
      %li.notification= get_neighbor_request_count(current_user)
  %li= link_to 'requests', members_requests_path, :title => 'Requests'
  - unless current_user.household.nil?
    - if has_requests(current_user)
      %li.notification= get_pending_requests_count(current_user)
  - unless current_user.household.nil?
    = render :partial => 'layouts/notification'
  %li
    - if current_user
      #search
        - form_tag members_search_path, :method => 'get' do
          = text_field_tag :search, params[:search], default_text("Find neighbors...")
          = submit_tag "Search", :name => nil
