!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = google_webfont_stylesheet('Wire One')
    = yield(:head)

  %body{:class => controller.action_name, :id => controller.controller_name}
    #masthead
      -#%h1= link_to image_tag('/images/villages_logo.png.bak'), root_path, :title => 'Home', :alt => 'Home'
      %h1= link_to "Villages", root_path, :title => 'Home'
      = menubar(current_user)
      = userbar(current_user)
    #container
      #content
        - unless flash.empty?
          - flash.each do |key, msg|
            %div{:class => "flash #{key}"}
              %p= msg
        = yield
