!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = google_webfont_stylesheet('Wire One')
    = yield(:head)

  %body{:class => controller.action_name, :id => controller.controller_name}
    #container
      #masthead
        = userbar(current_user)
        %h1= link_to APP_TITLE, root_path, :title => 'Home Screen'
        = menubar(current_user)
      #content
        - unless flash.empty?
          - flash.each do |key, msg|
            %div{:class => "flash #{key}"}
              %p= msg
        = yield
