!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'jquery-ui-1.8.13.custom.css'
    = javascript_include_tag 'jquery-1.5.1.min.js', 'application'
    = javascript_include_tag 'jquery-ui-1.8.13.custom.min.js'
    = google_webfont_stylesheet('Wire One')
    = google_webfont_stylesheet('Rokkitt')
    = yield(:head)

  %body{:class => controller.action_name, :id => controller.controller_name}
    #masthead
      -#%h1= link_to image_tag('/images/villages_logo.png.bak'), root_path, :title => 'Home', :alt => 'Home'
      - if current_user
        - if current_user.is_admin?
          %h1= link_to "Villages", root_path, :title => 'Home'
        - else
          - if current_user.has_household?
            %h1= link_to "Villages", members_profile_path, :title => 'View Profile'
          - else
            %h1= link_to "Villages", members_root_path, :title => 'View Profile'
      - else
        %h1= link_to "Villages", root_path, :title => 'Home'     
      = menubar(current_user)
      = userbar(current_user)
      #clear
      - if current_user
        #search
          - form_tag members_search_path, :method => 'get' do
            #text-field
              = text_field_tag :search, params[:search]
            #submit
              = submit_tag "Search", :name => nil
    #container
      #content
        - unless flash.empty?
          - flash.each do |key, msg|
            %div{:class => "flash #{key}"}
              %p= msg
        = yield

