!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'guest'
    = google_webfont_stylesheet('Wire One')
    = google_webfont_stylesheet('Rokkitt')
    = yield(:head)

  %body
    #masthead
      .menubar
        %ul
          %li= link_to "Home", root_url
          %li= link_to "Our Vision", "#"
          %li= link_to "Our Security", '#'
          %li= link_to "Register", signup_path
          %li= link_to "Login", login_path
      #clear
      .title 
        Villages
        %font.small It takes a village to raise a child
    #container
      #content
        - unless flash.empty?
          - flash.each do |key, msg|
            %div{:class => "flash #{key}"}
              %p= msg
        = yield
